---
import type { GetStaticPaths } from 'astro'

import Alert from '@cp/common/Alert.astro'
import PostDetails from '~/layouts/PostDetails.astro'
import BlogListLayout from '~/layouts/BlogListLayout.astro'
import { getBlogs } from '~/utils'
import type { Blog, BlogPage } from '~/types'

export const prerender = true

export const getStaticPaths = (async ({ paginate }) => {
  const blogs = await getBlogs()

  return [
    ...paginate(blogs, { pageSize: 8 }),
    ...blogs.map(blog => ({
      params: { page: blog.slug },
      props: { blog },
    })),
  ]
}) satisfies GetStaticPaths

type Props = {
  page: BlogPage
  blog: undefined
} | {
  page: undefined
  blog: Blog
}

const { blog, page } = Astro.props
---

{
  blog
    ? <PostDetails post={blog} />
    : (
      <BlogListLayout
        page={page}
        title="Blogs"
        h1={`共有 ${page.total} 篇文章`}
      >
        <Alert slot="footer" type="important">
          <p> This website is still under construction. Some pages may not be available yet.
        See also
          <a
            target="_blank"
            href="https://note.chilfish.top/blogs"
            class="text-blue-500 hover:underline"
          >  note.chilfish.top
          </a>.
          </p>
        </Alert>
      </BlogListLayout>
    )
}
