---
import Layout from '~/layouts/Layout.astro'
import { filterTags, getPosts } from '~/utils'

const posts = await getPosts('blog')
const allTags = filterTags(posts)

const tagsWithCount: {
  [tag: string]: number
} = {}

allTags.forEach((tag) => {
  const count = allTags.filter(t => t === tag).length
  tagsWithCount[tag] = count
})

const sortedTags = Object
  .entries(tagsWithCount)
  .toSorted((a, b) => b[1] - a[1] || a[0].localeCompare(b[0]))
---

<Layout title="Tags">
  <main class="main-width px-6">
    <h1 class="mb-6 text-2xl">所有标签 | 共 {sortedTags.length} 个</h1>
    <ul class="tsgs flex flex-wrap items-center gap-5">
      { sortedTags.map(([tag, count]) => (
        <a
          href={`/tags/${tag}/`}
          class="tag"
        >
          <span class="mr-0.5 text-5">#</span>
          <span>
            { tag } <sp> { count } </sp>
          </span>
        </a>
      ))}
    </ul>
  </main>
</Layout>

<style>
.tag {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-underline-offset: 8px;
}
</style>
