---
import Image from '@cp/common/Image.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout
  title="About Me"
  description="About Chilfish"
>
  <main class="flex flex-col gap-4 px-12 text-4 main-width md:w-100ch">
    <h2 class="text-6">
      Hi there 👋
    </h2>
    <p>
        I am Chilfish😇, a frontend developer and a student who is passionate about exploring new things and diving into full-stack development. I am a 100% code enthusiast who loves to experiment with various interesting ideas.
    </p>
    <p>
        I actively engage in open-source communities like GitHub and aspire to become a free-spirited developer. Also, I like the developer-friendly tools like NuxtJS ecosystem and AstroJS.
    </p>
    <p>
        If anyone wants to reach out to me for a chat or discussion, I would be delighted!
    </p>

    <div class="flex items-center gap-4">
      <Image
        alt="Visitors"
        src="https://visitor-badge.laobi.icu/badge?page_id=Chilfish&cache=on"
        height="1.2rem"
      />
      <Image
        alt="Wakatime"
        src="https://wakatime.com/badge/user/0842a71f-c026-4b09-8aa0-f8398b4c3423.svg"
        height="1.2rem"
      />
    </div>

    <div class="flex items-center gap-4">
      <Image
        alt="Chilfish's Github"
        src="https://gh.chilfish.top/api?username=chilfish&show_icons=true&count_private=true&theme=vue-dark"
      />

      <Image
        alt="Chilfish's WakaTime"
        src="https://gh.chilfish.top/api/wakatime?layout=compact&langs_count=6&useKey=1&theme=vue-dark"
      />
    </div>
  </main>
</Layout>
