---
import PostTimeLine from '~/components/post/PostTimeLine.astro'
import Layout from '~/layouts/Layout.astro'
import { getWords, sortPostsByDate } from '~/utils'

const { posts, total } = await getWords()
---

<Layout
  title="归档"
>
  <main class="center-col">
    <h3 class="text-xl">
      总共 {total} 千字
    </h3>

    <PostTimeLine
      title="归档"
      posts={sortPostsByDate(posts)}
    />
  </main>
</Layout>
