---
import Layout from '@layouts/Layout.astro'
import Projects from '@cp/Projects.astro'
import Socials from '@cp/Socials.astro'
---

<Layout title="">
  <main
    class="mx-auto max-w-92ch p-4"
  >
    <header>
      <h1 class="text-3xl font-bold">
        Hi, there 😇 <br /> I'm Chilfish.
      </h1>
      <p class="mt-3 text-xl">
         A Stupid frontend developer.
      </p>
    </header>

    <Socials />
    <Projects />
    <!-- <LatestBlogs /> -->

  </main>
</Layout>
