---
import Layout from '@layouts/Layout.astro'
import LatestBlogs from '@cp/post/LatestBlogs.astro'
import Projects from '@cp/Projects.astro'
import Socials from '@cp/Socials.astro'
import Heatmap from '@cp/Heatmap.vue'

import { getWords } from '~/utils'

const words = await getWords()
---

<Layout title="Chilfish">
  <main
    class="mx-auto max-w-92ch p-4"
  >
    <header>
      <h1 class="text-3xl font-bold">
        Hi, there 😇 <br /> I'm Chilfish.
      </h1>
      <p class="mt-3 text-xl">
         I am a frontend developer, ❤ Nuxt.js. I enjoy bringing my ideas to life through coding.
      </p>
    </header>

    <Socials />
    <Projects />
    <LatestBlogs />

    <Heatmap
      data={words}
      client:only="vue"
    />

  </main>
</Layout>
