---
import SongRank from '@cp/music/SongRank.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Music Records">
  <main class="w-full center-col gap-4">
    <SongRank type="weekData" />
    <SongRank type="allData" />
  </main>
</Layout>
