---
import SongLists from '@cp/music/SongLists.astro'
import Layout from '~/layouts/Layout.astro'
---

<Layout title="Music Records">
  <main class="w-full center-col gap-4">
    <SongLists type="weekly" />
    <SongLists type="likes" />
  </main>
</Layout>
