---
import Head from '@cp/common/Head.astro'
import ResumeMain from '~/components/resume/fe.vue'
import ResumeBe from '~/components/resume/be.vue'

const isBe = Astro.url.searchParams.get('be')
---

<!doctype html>
<html
  lang="zh-cn"
>
  <Head
    title="Resume"
  />
  <body>
    <main
      class="mx-auto flex flex-col gap-4 rounded bg-white p-4 text-12px sm:p-x8"
      uno-h="md:29.7cm full"
      uno-w="md:21cm full"
    >
      {isBe ? <ResumeBe /> : <ResumeMain />}
    </main>
  </body>
</html>

<style>
body {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle fill="%2364748b" cx="2" cy="2" r=".5"/></svg>');
  background-repeat: repeat;
}
</style>
