---
import Head from '@cp/common/Head.astro'
import ResumeMain from '@cp/Resume.vue'
---

<!doctype html>
<html
  lang="zh-cn"
>
  <Head
    title="Resume"
  />
  <body>
    <main
      class="mx-auto h-29.7cm flex flex-col gap-4 rounded bg-white p-8 text-12px"
      uno-w="md:21cm full"
    >
      <ResumeMain />
    </main>
  </body>
</html>

<style>
body {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle fill="%2364748b" cx="2" cy="2" r=".5"/></svg>');
  background-repeat: repeat;
}
</style>
