---
// due to UnoCSS, we had to do this, otherwise it will not be compiled
// and cannot be imported
const SocialList = [
  {
    name: 'github',
    link: 'https://github.com/Chilfish',
    icon: 'i-simple-icons:github',
    color: '#010101',
  },
  {
    name: 'gmail',
    link: 'mailto:chill4fish@gmail.com',
    icon: 'i-simple-icons:gmail',
    color: '#E84234',
  },
  {
    name: 'weibo',
    link: 'https://weibo.com/chilfish',
    icon: 'i-simple-icons:sinaweibo',
    color: '#FF8200',
  },
  {
    name: 'twitter',
    link: 'https://twitter.com/chilllish',
    icon: 'i-simple-icons:twitter',
    color: '#00ACEE',
  },
  {
    name: 'bilibili',
    link: 'https://space.bilibili.com/259486090',
    icon: 'i-simple-icons:bilibili',
    color: '#fb7299',
  },
  {
    name: 'zhihu',
    link: 'https://www.zhihu.com/people/Walmart_Zelo',
    icon: 'i-simple-icons:zhihu',
    color: '#0066fe',
  },
  {
    name: '163 Music',
    link: 'https://music.163.com/user/home?id=1533509979',
    icon: 'i-simple-icons:neteasecloudmusic',
    color: '#DD001B',
  },
  {
    name: 'tel',
    link: 'https://t.me/Chilfish',
    icon: 'i-simple-icons:telegram',
    color: '#0088CC',
  },
] as const

---

<div class="mt-4">
  <p>You can find me at</p>
  <ul>
    { SocialList.map(social => (
      <a
        style={{
          'background-color': social.color,
        }}
        href={social.link}
        title={social.name}
        target="_blank"
      >
        <span class={`icon ${social.icon}`} />
      </a>
    )) }
  </ul>
</div>

<style>
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

a {
  --uno: rounded-full p-2 icon-box text-white;
}
</style>
