---
import { SponsorList } from '~/constant'
---

<ul
  class="w-full center-col gap-4"
>
  { SponsorList.map(sponsor => (
    <div
      class="w-full flex flex-col justify-center gap-2 rounded-2 bg-light p-3 shadow-red dark:bg-dark-7"
    >
      <div class="flex items-center justify-between">
        <span class="text-4 font-bold">
        @{ sponsor.name }
        </span>
        <div class="flex gap-4 text-3 text-gray">

        <span>
          { sponsor.time }
        </span>
         <a
           href={sponsor.project.url}
           target="_blank"
         >
        项目：{ sponsor.project.name }
        </a>

        </div>
      </div>


        <p class="text-3.5 text-gray">
        留言：{ sponsor.message }
        </p>

        <p class="text-3.5 text-orange">
        开发者回复：{ sponsor.reply }
        </p>

      {/* <div
        class="flex items-center justify-between rounded-b-2 bg-red px-4 py-2 text-lg text-white font-bold"
      >
        <span class="i-tabler-pig-money icon h-5 w-5" />
        <span>
        ￥{ sponsor.amount.toFixed(2) }
        </span>
      </div> */}
    </div>
  )) }
</ul>
