---
import type { MarkdownHeading } from 'astro'

type Props = {
  headers: MarkdownHeading[]
  maxDeep: number
}

const { headers, maxDeep } = Astro.props
const filteredHeaders = headers.filter(header => header.depth <= maxDeep)
---

<nav class="toc sticky top-8">
  <span class="mb-2 text-xl font-bold">
  目录
  </span>
  <ol>
    {filteredHeaders.map(header => (
      <li
        class={`toc-depth-${header.depth} mt-2 underline line-height-6`}
        uno-text="3.5 gray hover:blue-500"
      >
        <a href={`#${header.slug}`}>
          {header.text}
        </a>
      </li>
    ))}
  </ol>
</nav>
<style is:global lang="scss">
.toc {
  position: sticky;
  top: 2rem;
}
.toc-depth-3 {
  padding-left: 2rem;
}
.toc-depth-4 {
  padding-left: 4rem;
}
.toc-depth-5 {
  padding-left: 6rem;
}
.toc-depth-6 {
  padding-left: 8rem;
}
</style>
