---
type Props = {
  tags?: string[]
}

const { tags } = Astro.props
---

{tags && tags.length > 0 && (
  <span class="tags icon-box">
    <span class="i-tabler-tag icon"></span>
    { tags.map(tag => (
      <span class="tag">
        { tag }
      </span>
    ))}
  </span>
)}

<style>
.tag {
  --uno: rounded-md px-1 border-gray border cursor-pointer;
}
</style>
