---
import { Image } from 'astro:assets'
import BlogTags from './BlogTags.astro'
import { formatDate } from '~/utils'
import type { Blog } from '~/types'

type Props = {
  blogs: Blog[]
}

const { blogs } = Astro.props
---

<ul
  class="w-full center-col gap-3"
>
  { blogs.map(({ data: blog, slug }) => (
    <a
      class="blog relative w-full flex flex-col rounded-md p-3 shadow"
      uno-h={blog.cover ? '60' : 'auto'}
      uno-bg="light-3 dark:dark-3"
      href={`/blog/${slug}`}
    >
      { blog.cover && (
        <Image
          src={blog.cover}
          alt={blog.title}
          class="absolute right-0 top-0 z-0 max-h-52 rounded-md"
          uno-object="cover top-center"
        />
      )}

      <div class="z-10 mt-auto">
        <h2 class="text-xl font-bold">
          { blog.title }
        </h2>

        <p class="mt-3">
          { blog.description }
        </p>

        <div class="meta flex items-center gap-2 py-2 text-3">
          <span>
            <span class="i-tabler-calendar icon" />
            <time>
              { formatDate(blog.date) }
            </time>
          </span>

          <BlogTags tags={blog.tags} />

        </div>
      </div>
    </a>
  ))}
</ul>

<style>
.blog:hover h2 {
  text-decoration: underline;
}

.blog img {
  mask-image: linear-gradient(180deg,#fff -16%,#0000 90%);
}

.meta > span {
  --uno: icon-box;
}
</style>
