---
import BlogTags from './BlogTags.astro'
import { formatDate } from '~/utils'

type Props = {
  title: string
  author: string[]
  pubDate: Date
  modifiedDate?: Date
  tags?: Array<string>
}

const { title, author, pubDate, modifiedDate, tags } = Astro.props
---

<header class="mb-6 flex flex-col justify-center border-b border-gray p-4">
  <h1
    class="pb-6 text-center text-3xl font-bold leading-tight"
  >
    {title}
  </h1>

  <div
    class="flex items-center gap-4"
  >
    <div
      title="作者"
      class="icon-box"
    >
      <span class="i-tabler-user icon" />
      <span> {author.join(', ')} </span>
    </div>

    <div
      title="写作日期"
      class="icon-box"
    >
      <span class="i-tabler-calendar icon" />
      <time> {formatDate(pubDate)} </time>
    </div>

    {modifiedDate && (
      <div
        title="最后修改日期"
        class="icon-box"
      >
        <span class="i-tabler-edit icon" />
        <span>上次编辑于</span>
        <time> {formatDate(modifiedDate)} </time>
      </div>
    )}

    <BlogTags tags={tags} />
  </div>
</header>
