---
import LinkBar from '@cp/common/LinkBar.astro'
import { formatDate, getBlogs } from '~/utils'

const blogs = (await getBlogs()).slice(0, 5)
---

<div>
  <LinkBar
    title="Blogs"
    href="/blog"
    aclass="mb-4"
  />
  <ul>
    {blogs.map(({ data: blog, slug }) => (
      <a
        href={`/blog/${slug}`}
      >
        <h3 class="font-400 underline">
          {blog.title}
        </h3>
        <time class="ml-2 min-w-fit">
          { formatDate(blog.date) }
        </time>
      </a>
    ))}

    <a
      href="/blog"
      class="underline"
    >
    All posts
    </a>
  </ul>
</div>

<style>
a {
  --uno: px-3 py-2 flex rounded items-center justify-between font-400 bg-hover;
}
</style>
