<button
  class="dark-toggle icon-box"
>
  <i class="i-tabler-sun" />
</button>

<script>
function toggleDark() {
  const toggle = useToggle(isDark)
  const btn = document.querySelector('.dark-toggle')! as HTMLButtonElement
  const icon = btn.querySelector('.dark-toggle i')!

  function toggleIcon() {
    icon.classList.toggle('i-tabler-sun')
    icon.classList.toggle('i-tabler-moon')
  }

  toggleIcon()

  btn.onclick = () => {
    toggle()
    toggleIcon()
  }
}

document.addEventListener('astro:page-load', () => {
  toggleDark()
})
</script>
