---
import DarkToggle from './DarkToggle.astro'
import Image from './Image.astro'

---

<header
  class="sticky top-0 z-100 mb-6 h-14 flex items-center justify-between px-4 trans-all"
  uno-bg="light-1 dark:dark"
  uno-lg="px-80"
>
  <a
    href="/"
    class="min-w-fit center gap-3"
  >
    <Image
      class="rounded-full"
      src="/avatar.webp"
      alt="Chilfish's avatar"
      height={32}
      width={32}
    />
    <h1
      uno-bg="gradient-to-r clip-text"
      uno-from="blue-400 dark:blue-500"
      uno-to="purple-500 dark:purple-600"
      class="text-xl text-transparent!"
    >
      Chilfish
    </h1>
  </a>

  <nav
    class="w-full text-4"
  >
    <ul
      class="ml-auto w-fit center gap-2"
    >
      <a href="/music" title="Music"> <i class="i-tabler:music icon"></i> </a>
      <a href="/sponsors" title="Sponsors"> <i class="i-tabler:heart icon"></i> </a>
      <a href="/blog" title="Blogs"> <i class="i-tabler:article icon"></i> </a>
      <a
        title="Github repo"
        target="_blank"
        href="https://github.com/chilfish"
      >
        <i class="i-tabler:brand-github icon"></i>
      </a>
      <DarkToggle />
    </ul>
  </nav>
</header>

<style>
nav>ul a {
  @apply: hover:text-primary;
}
</style>
