---
import DarkToggle from './DarkToggle.astro'
import Image from './Image.astro'

---

<header
  class="z-100 mb-6 h-14 flex items-center justify-between px-4 trans-all"
  uno-bg="light-1 dark:dark"
  uno-md="px-80"
>
  <a
    href="/"
    class="min-w-fit center gap-3"
  >
    <Image
      class="rounded-full"
      src="/avatar.webp"
      alt="Chilfish's avatar"
      height={32}
      width={32}
    />
    <h1
      uno-bg="gradient-to-r clip-text"
      uno-from="blue-400 dark:blue-500"
      uno-to="purple-500 dark:purple-600"
      class="text-xl text-transparent!"
    >
      Chilfish
    </h1>
  </a>

  <nav
    class="w-full text-3.5"
    uno-sm="flex w-auto py-4"
  >
    <ul
      class="ml-auto w-fit center gap-2"
    >
    <!-- <a href="/tags"> Tags </a> -->
      <a href="/music"> Music </a>
      <a href="/sponsors"> Sponsors </a>
      <a href="/blog"> Blogs </a>
      <a href="/about"> About </a>
      <div class="center gap-2">
        <!-- <a
          title="RSS Feed"
          href="/feed"
          class="w-fit!"
        >
          <span class="i-tabler:rss icon"></span>
        </a> -->
        <a
          title="Github repo"
          target="_blank"
          href="https://github.com/chilfish"
        >
          <i class="i-tabler:brand-github icon"></i>
        </a>
        <DarkToggle />
      </div>
    </ul>
  </nav>
</header>

<style>
nav>ul a {
  @apply: hover:text-primary;
}
</style>

<script>
function toggleMenu() {
  const menuBtn = document.querySelector('.nav-menu')
  const nav = document.querySelector('.nav-item')
  const icons = menuBtn?.querySelectorAll('.icon')
  menuBtn?.addEventListener('click', () => {
    nav?.classList.toggle('hidden')
    icons?.forEach(icon => icon.classList.toggle('hidden'))
  })
}

function toggleHeader() {
  const header = document.querySelector('header')
  let prevScrollPos = window.scrollY

  window.addEventListener('scroll', () => {
    if (!header)
      return
    const currentScrollPos = window.scrollY

    if (prevScrollPos > currentScrollPos)
      header.style.top = '0'
    else
      header.style.top = `-${header.offsetHeight}px`

    prevScrollPos = currentScrollPos
  })
}

document.addEventListener('astro:page-load', () => {
  toggleMenu()
  toggleHeader()
})
</script>
