---
interface Props {
  href: string
  type?: 'default' | 'outline' | 'text'
  dashed?: boolean
  class?: string
  noRef?: boolean
  target?: '_blank' | '_self' | '_parent' | '_top'
}

const {
  href,
  class: className,
  type = 'default',
  dashed = false,
  noRef = false,
  target = '_self',
} = Astro.props

const dashedClass = dashed ? 'border border-dashed border-gray' : null
const typeClass = (() => {
  switch (type) {
    case 'default':
      return 'bg-primary text-white'
    case 'outline':
      return 'bg-transparent text-primary border border-primary'
    case 'text':
      return 'bg-transparent text-primary'
  }
})()

const rel = noRef ? 'noopener noreferrer nofollow' : null
---

<a
  href={href}
  rel={rel}
  target={target}
  class:list={[
    className,
    dashedClass,
    typeClass,
  ]}
>
  <slot />
</a>

<style>
a {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  width: fit-content;

  @apply: transition-color;
}
</style>
