---
import type { PrevNext } from '~/types'
import LinkBtn from './LinkBtn.astro'

interface Props {
  prev: PrevNext
  next: PrevNext
}

const { prev, next } = Astro.props

const className = 'bg-transparent hover:bg-light hover:dark:bg-dark'
---

<nav
  class="mt-12 w-full flex items-center justify-between"
>
  { prev?.link && (
    <LinkBtn
      href={prev.link}
      class:list={[className, 'mr-4']}
      type="text"
      dashed
    >
      { prev.title && <p>{prev.title}</p> }
      <p class="text-start text-sm">← Previous</p>
    </LinkBtn>
  )}
  {next?.link && (
    <LinkBtn
      href={next.link}
      class:list={[className, 'ml-auto']}
      type="text"
      dashed
    >
      { next.title && <p>{next.title}</p> }
      <p class="text-end text-sm">Next →</p>
    </LinkBtn>
  )}
</nav>
