---
import type { ContentType } from '~/types'
import { getAdjacentBlogs } from '~/utils'

type Props = {
  slug: string
  type: ContentType
}
const { slug, type } = Astro.props

const adjacentBlogs = await getAdjacentBlogs(slug, type)
---

<aside
  class="sticky top-0 hidden h-90vh w-1/7 trans-all"
  uno-md="block opacity-0 hover:opacity-100 duration-500"
  uno-text="start 3"
>
  <ul class="h-full center-col gap-3">
    {adjacentBlogs.map(blog => (
      <a
        href={`/posts/${blog.slug.split('/').reverse()[0]}/`}
        class={`w-full hover:underline ${blog.slug === slug ? 'text-dark-9 dark:text-light-9 font-bold text-3.7' : ''}`}
      >
        {blog.title}
      </a>
    ))}
  </ul>
</aside>
