---
import { formatDate } from '~/utils'
import type { Post } from '~/types'

type Props = {
  posts: Post[]
}

const { posts } = Astro.props
---

<ul
  class="w-full center-col gap-3 trans-all"
>
  { posts.map(({ data: post, slug, collection: type }) => (
    <a
      class="post"
      uno-h={post.cover ? '68' : '30'}
      uno-bg="light-3 dark:dark-3"
      href={`/${type}/${slug}`}
    >
      { post.cover && (
        <img
          src={post.cover}
          alt={post.title}
          uno-object="cover top-center"
        />
      )}

      <div class="z-10 mt-auto">
        <h2 class="text-xl font-bold">
          { post.title }
        </h2>

        { post.description && (
          <p class="mt-3">
            { post.description }
          </p>
        )}

        <div class="meta flex items-center gap-2 pt-2 text-3">
          <div>
            <span class="i-tabler-calendar icon" />
            <time>
              { formatDate(post.date) }
            </time>
          </div>
        </div>
      </div>
    </a>
  ))}
</ul>

<style>
.post:hover h2 {
  text-decoration: underline;
}

.post {
  --uno: relative w-full flex flex-col rounded-md p-3 shadow;
}

.post img {
  mask-image: linear-gradient(180deg,#fff -16%,#0000 90%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  max-height: 16rem;
  width: 100%;
  border-radius: 8px;

  .dark & {
    mask-image: linear-gradient(180deg,#000 -16%,#0000 90%);
  }
}

.meta > div {
  --uno: icon-box;
}
</style>
