---
import Image from '../common/Image.astro'
import { formatDate } from '~/utils'
import type { Post } from '~/types'

type Props = {
  posts: Post[]
}

const { posts } = Astro.props
---

<ul
  class="w-full center-col gap-3 trans-all"
>
  { posts.map(({ data: post, slug }) => (
    <a
      class="post"
      uno-bg="light-3 dark:dark-3"
      href={`/posts/${slug.split('/').reverse()[0]}/`}
    >
      <div class="post-content p-3">
        <h2 class="text-4 font-bold">
          { post.title }
        </h2>

        <p uno-text="3 truncate">
          {post.description}
        </p>

        <div class="meta flex items-center gap-2 pt-2 text-3">
          <div>
            <span class="i-tabler-calendar icon" />
            <time>
              { formatDate(post.date) }
            </time>
          </div>
        </div>
      </div>

      { post.cover && (
        <Image
          src={post.cover}
          alt="封面图"
          class="ml-3 h-28 w-62 rounded-r-md object-cover object-center-top"
        />
      )}
    </a>
  ))}
</ul>

<style>
.post:hover h2 {
  text-decoration: underline;
}

.post {
  width: 100%;
  min-height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply: rounded-md shadow;
}

.post-content {
   width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 7rem;
}

.meta > div {
  @apply: icon-box;
}
</style>
