---
import LinkBar from '@cp/common/LinkBar.astro'
import { formatDate, getPosts } from '~/utils'

const posts = (await getPosts('blog'))
  .filter(post => !post.data.tags.includes('diary'))
  .slice(0, 6)
---

<div>
  <LinkBar
    title="Blogs"
    href="/blog"
    aclass="mb-4"
  />
  <ul>
    {posts.map(({ data: post, slug }) => (
      <a
        href={`/posts/${slug.split('/').reverse()[0]}/`}
      >
        <h3 class="font-400 underline">
          {post.title}
        </h3>
        {post.modifiedDate
          ? (
            <time class="ml-2 min-w-fit">
              <span class="text-3">编辑于</span>
              { formatDate(post.modifiedDate) }
            </time>
          )
          : (
            <time class="ml-2 min-w-fit">
              { formatDate(post.date!) }
            </time>
          )}
      </a>
    ))}
<!--
    <a
      href="/note"
      class="underline"
    >
      Some notes
    </a> -->
  </ul>
</div>

<style>
a {
  @apply: px-3 py-2 flex rounded items-center justify-between font-400 bg-hover;
}
</style>
