---
type Props = {
  tags?: string[]
}

const { tags } = Astro.props
---

{tags && tags.length > 0 && (
  <div class="tags icon-box flex-wrap">
    <span class="i-tabler-tag icon"></span>
    { tags.map(tag => (
      <a
        href={`/tags/${tag.toLocaleLowerCase()}/`}
        class="tag decoration-none"
      >
        { tag }
      </a>
    ))}
  </div>
)}

<style>
.tags a.tag {
  --uno: rounded-md p-1 border-gray border cursor-pointer;
}
</style>
