* {
  box-sizing: border-box;
  min-width: 0;
  scrollbar-width: thin !important;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #7a797963;
}

*,
*:focus-visible {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;

  @apply: bg-light-7 dark:bg-dark-8 dark:text-white text-black;
}

h1,
h2,
h3,
h4 {
  // text-wrap: balance;
  font-weight: 600;
}

p {
  text-wrap: pretty;
}

img {
  @apply: trans-all;
}

code {
  @apply: font-mono;
  padding: 3px 4px;
  border-radius: 4px;
  color: #353841;
  background-color: #d0d1d3;
}

.dark code {
  color: #c1c3c8;
  background-color: #353841;
}

.expressive-code {
  border-radius: 12px;
  margin: 1rem 0;
  padding-bottom: 1rem;
  overflow: auto;
  .frame pre {
    max-height: 36rem;
    @apply: text-3 sm:text-3.5;
  }
}

i {
  @apply: icon;
}

a.link,
footer a,
article a {
  i {
    margin-right: 4px;
    vertical-align: middle;
  }
  text-decoration-line: underline;
  text-underline-offset: 5px;
  @apply: decoration-primary;

  &:hover {
    @apply: text-primary;
  }
}
