.resume-info > div {
  @apply: icon-box w-fit;
}

.resume-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  padding-bottom: 0.2rem;
  border-bottom: #3388bb 2px solid;
  margin-bottom: 0.8rem;
}

a:hover {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

section ul {
  padding-left: 1.5rem;
}
section li {
  list-style: disc;
  margin-top: 0.4rem;
}

.project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  a, ._title {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
  }
  a:hover {
    text-decoration-line: underline;
    text-underline-offset: 5px;
  }
}

ul.projects {
  padding-left: 0;
  & > li {
    margin-bottom: 1.5rem;
    list-style: none;
  }
  p {
    margin: 0.5rem 0;
  }
}

time {
  font-weight: bold;
  font-size: 0.875rem;
  margin-left: auto;
}
