---
import PostList from '@cp/post/BlogList.astro'
import PagesNav from '@cp/common/PagesNav.astro'
import Layout from './Layout.astro'
import type { PostPage } from '~/types'

interface Props {
  page: PostPage
  title: string
  h1: string
}

const { page, title, h1 } = Astro.props
---

<Layout title={title}>
  <main
    class="flex flex-col items-center px-6 main-width"
  >
    <h1 class="mb-6 text-xl">
      {h1}
    </h1>

    <PostList posts={page.data} />

    <PagesNav
      prev={{
        link: page.url.prev,
      }}
      next={{
        link: page.url.next,
      }}
    />
    <slot name="footer" />
  </main>
</Layout>
