---
import Footer from '@cp/common/Footer.astro'
import Head from '@cp/common/Head.astro'
import Header from '@cp/common/Header.astro'
import type { MainProps } from '~/types'

type Props = MainProps

const {
  class: className,
  ...rest
} = Astro.props
---

<!doctype html>
<html
  lang="zh-cn"
>
  <Head {...rest} />
  <body
    class:list={[className]}
    transition:animate="fade"
  >
    <Header transition:persist />
    <slot />
    <Footer transition:persist />
  </body>
</html>

<style is:global lang="scss">
@import '@assets/main.scss';
@import '@assets/NProgress.scss';
</style>

<script is:inline>
NProgress.configure({
  showSpinner: false,
})

document.addEventListener('astro:before-preparation', () => {
  NProgress.start()
})
document.addEventListener('astro:after-preparation', () => {
  NProgress.done()
})

function setDarkMode(document) {
  let theme = localStorage.getItem('theme') || 'light'
  if (theme === 'light' || theme === 'auto')
    theme = 'light'

  document.documentElement.classList.add(theme)
  window.__theme = theme
  localStorage.setItem('theme', theme)
}

setDarkMode(document)

document.addEventListener('astro:before-swap', (ev) => {
  // Pass the incoming document to set the theme on it
  setDarkMode(ev.newDocument)
})
</script>
